<ion-header>
  <ion-toolbar>
    <ion-title>My Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="star" color="warning"></ion-icon><ion-icon name="star" color="warning"></ion-icon><ion-icon name="star" color="warning"></ion-icon><ion-icon name="star" color="warning"></ion-icon><ion-icon name="star" color="warning"></ion-icon>      
    </ion-item>
    <ion-item><ion-label>Bermanfaat banget!</ion-label></ion-item>
    
    <ion-card-content>
      Belajar aplikasi mobile berbasis web ini sangat menambah ilmu saya dalam pemograman, terutama mobile karena baru pertama kali ini saya belajar pembuatan aplikasi mobile. Dari mengetahui framework mobile, hingga menggunakan bahasa pemograman baru, Angular.
    </ion-card-content>
  </ion-card>

</ion-content>
